.cell {
  background-color: #eee;
  color: #333;
  vertical-align: bottom;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: transparent;
  font-size: 12em;
  font-family: "Comfortaa", sans-serif;
  transform: translateY(0.8rem);
  height: 100%;
  width: 100%;
  user-select: none;
}
